<div class="recorder">
  <h3>Listagem de registros</h3>
  <!-- <hr> -->
  <div class="row mt-4">
    <div class="col">
      <table class="table table-responsive">
        <thead>
          <th width="20%">Registro</th>
          <th width="30%">Inicio</th>
          <th width="30%">Fim</th>
          <th width="10%">Total</th>
          <th width="10%">Ações</th>
        </thead>
        <tbody>
          <!-- <tr *ngFor='let record of records | async'> -->
          <tr *ngFor='let record of records'>
            <td>
              {{ record.title }}
            </td>
            <td>
              {{ record.initDate }}
            </td>
            <td>
              {{ record.endDate }}

            </td>
            <td>
              {{ record.duration }}
            </td>
            <td>
              <button (click)="deleteRecord(record.id)" class="btn btn-danger btn-sm">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
  </div>
  </div>
</div>