/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(to right, #464a51, #3b404d, #323748, #2a2d43, #23233d);
    margin: 0;
    padding: 0;
}

.recorder  {
    margin-top: 10px;
    background-color: white;
    border-radius: 4px;
    padding: 20px 10px 15px 10px;
}

.recorder button {
    margin-right: 10px;
}

.time-recorder {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ccc;
    border-radius: 8px;
    padding-bottom: 10px;
}

