/* You can add global styles to this file, and also import other style files */
body {
    /* background-image: linear-gradient(to right, #252c36, #232a38, #21283a, #22263c, #23233d); */
    /* background-image: linear-gradient(to right, #333b47, #2d3647, #283044, #252941, #23233d); */
    background-image: linear-gradient(to right, #464a51, #3b404d, #323748, #2a2d43, #23233d);
    display: flex;
    /* height: 100vh; */
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}

.time-recorder {
    margin-top: 50px;
    /* color: white; */
    background-color: #ccc;
    border-radius: 8px;
    min-height: 600px;
    /* height: 600px; */

    width: 700px;

    /* display: flex; */
    /* justify-content: scenter; */
}

@media (max-width: 700px) {
    .time-recorder {
        width: 600px;
    }
}

@media (max-width: 400px) {
    .time-recorder {
        width: 300px;
    }
}

@media (max-height: 600px) {
    .time-recorder {
        min-height: 45 0px;
    }
}