/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(to right, #464a51, #3b404d, #323748, #2a2d43, #23233d);
    margin: 0;
    padding: 0;
}

.recorder  {
    margin-top: 10px;
    background-color: white;
    border-radius: 4px;
    padding: 20px 10px 15px 10px;
}

.recorder button {
    margin-right: 10px;
}

.recorder table button {
    margin-right: 4px;
    margin-top: 3px;
}

.time-recorder {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ccc;
    border-radius: 8px;
    padding-bottom: 10px;
}

.record-filter {
    background-color: #888;
    border-radius: 4px;
    padding-top: 7px;
    color: white;
}

.btn-show-filter button {
    margin-right:0;
    color: white;
}

.btn-show-filter button:hover {
    color: white;
}

.btn-show-filter button:focus {
    box-shadow: none;
    color: white;
    outline: 0;
}

.search button {
    background-color: white;
    color: gray;
    opacity: 0.9;
    margin-left: 10px;
}

.search button:hover {
    background-color: white;
    color: gray;
    opacity: 1;
}

.search button:focus {
    color: gray;
}