<div class="recorder">
  <h3>Inserir registros</h3>
  <hr>
  <div class="form-row mt-4">
    <div class="col">
      <div class="form-group">
        <input #recordName="ngModel" [(ngModel)]="recordTitle" [disabled]="recordStarted === true" type="text" class="form-control"
          placeholder="Digite o título do seu registro." required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12">
      <button [disabled]="recordStarted === true || recordName.invalid" (click)="startTimer(recordName.value)" class="btn btn-success col-4 col-md-3">Iniciar</button>
      <button [disabled]="recordStarted === false" (click)="stopTimer()" class="btn btn-danger col-4 col-md-3">Encerrar</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <table class="table table-responsive-sm">
        <thead>
          <th width="40%">Registro</th>
          <th width="30%">Inicio</th>
          <th width="30%">Fim</th>
        </thead>
        <tbody *ngIf="recordTitle && recordInit">
          <td>
            {{ recordTitle }}
          </td>
          <td>
            {{ recordInit | date: 'y/MM/dd HH:mm:ss' }}
          </td>
          <td>
            <span *ngIf="recordEnd">{{ recordEnd | date: 'y/MM/dd HH:mm:ss' }}</span>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>